@import url(http://adapt.960.gs/assets/css/960.css);

body {
	background-color: #F1CF89;
}

section {	
	height: 396px;
	width: 700px;
	background-color: #F1CF89;
/*	text-align: left;*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: Verdana ;
	color: #423E4C ;
	position: relative;
	top:20px;

}

h2 {
	text-align: center;
	font-size: 2.5em ;
	margin: 0px ;
/*	padding-top: -60px;*/
	padding-bottom: 20px;
}

form{
	font-size: 1em ;
	text-align: left;
	float: left;
	margin-left: 50px;	
	margin-top: 10px;
}

input{
	height: 53px;
	width: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}



#login_link {
	clear:right;
	margin-top: 15px;

}

#login_link a {
	display: inline-block;
	padding: 15px;
}

.icon{
	height: 25px;
	width: 25px;
	vertical-align: middle;
}

#fb_login{	
	height: 53px;
	width: 286px;
	border: none ;
	background-color: transparent;
	margin-top: 20px;
	margin-left: 150px;
}

#fb_login img{
	height: 53px;
	width: 286px;	
}

#login{	
	height: 53px;
	width: 136px;
	border: none ;
	background-color: transparent;
	margin-top: 5px;
}

#login img{
	height: 53px;
	width: 136px;	
}

#sign_up {
	height: 53px;
	width: 136px;
	background-color: #423E4C;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white ;
	font-family: verdana ;
	font-size: 1.5em;
	border: none ;
}

